<nav>
  <div class="topnav" id="myTopnav">
    <a href="{{ site.url }}">Home</a>
    <a href="/contact">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Services
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ site.dev }}">Design and Development</a>
        <a href="{{ site.web-presence }}">Web Presence</a>
        <a href="{{ site.service }}">Personalized Service</a>
        <a href="{{ site.maintenence }}">Maintenence</a>
      </div>
    </div>
    <a href="/pricing">Pricing</a>
    <a href="/about">About</a>
    <!-- <a href="/blog">Blog</a> -->
    <a href="/pricing" class="get_started">Get Started</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
</nav>